<div class="container text-center">
    <div class="jumbotron">
        <div class="container">
            <h1>Demo Website</h1>
            <p>This here is a demo website that was thrown together by Nick DeJesus in hopes that someone will offer him an opportunity
                to work as a web developer :D</p>
        </div>
    </div>
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Best Practices</h2>
                <p>I've been practicing with Angular for about 4 to 5 months now. I've been learning a lot about how Angular web apps should
                    be structured for scalability and making it easier for other developers to work with. I've been closely following
                    <a class="external" href="https://github.com/johnpapa/angular-styleguide">John Papa's Style Guide</a>
                    along with advice from professional developers from Sapient. You can take a look at
                    <a class="external" href="https://github.com/ndejesus1227/test-project">
                        My Github account</a> for this demo website. I just recently picked up MeteorJS for funsies.</p>
                <p>
                    
                </p>
            </div>
            <div class="col-md-4">
                <h2>Babel for ES6</h2>
                <p>As we move closer towards the future of JavaScript, this demo site is equipped with babel which introduces
                    EcmaScript 6. It assists with modularity and keeping the code pretty along with the help of browserify. 
                </p>
            </div>
            <div class="col-md-4">
                <h2>Me</h2>
                <p>I'm a cool guy, and I want to be super good at this coding stuff. Whatever I don't know I will figure out.
                    I love coding so much, all need is an environment that will help me grow into the developer I want to be
                    and the developer that YOU need. Enough of me selling myself! Start clicking on the navbars and see me
                    flex my Angular muscles :D
                </p>
            </div>
        </div>
        <hr>
        <footer>
            <p>© Company 2014</p>
        </footer>
    </div>
</div>